/* Error404.css */

.page_404 {
  padding: 40px 0;
  background: #ffffff;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  color: darkred;
}

.contant_box_404 {
  margin-top: -50px;
  color: red;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #1de656;
  margin: 20px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
